<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>content</th>
        <th>level</th>
        <th>time</th>
    </tr>
    </thead>
    <tbody>
    {% for foo in content %}
        <tr>
            <td>{{ foo.listId }}</td>
            <td>{{ foo.content }}</td>
            <td>{{ foo.level }}</td>
            <td>{{ foo.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
<script>
    // console.log({ %content %})
</script>
</html>